body{
    box-sizing: border-box; 
    margin: 0;

}

h2 {
    font-family: 'Baloo Bhai', cursive;
    padding: 25px;
    text-align: center;
 
}
.header {
    padding: 35px;
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    color: white;
    background-color: black;
    font-size: 50px;

}


.search{
    padding: 25px;
    color: blue;
    background-color: #e1f5fe;
    height: 100vh;
}

.search h2{
    text-align: start;
}

#previousSearch button {
      width: 100px;
      padding: 12px;
      margin: 0;
      display: block;
}
.currentForecast{
    margin-top: 10px;
    background-color: #fafafa;
}

.forecastContainer{
    margin-top: 35px;
    background-color: #fafafa;
}

.weekForecast {
    display: flex;
    justify-content: center;

}
.uvIndex {
    padding: 5px;
}
.card {
    padding: 35px;
    margin: 15px;
    color: black;
    background-color: white;
    border-radius: 15%;
    border: 1px solid black;
}
